<%= render 'home/nav'%>

  <% @user.posts.each do | post | %>    
      <div>
        <h1>
            <%= link_to post.title, post %>
        </h1>
        <p>
          <%= post.body%>
        </p>

        <%= image_tag(post.photo) %>

      </div>

            
  <% end %>