<%= render 'home/nav'%>
           
<h1 class='text-main-text text-center my-3'  >Puedes dar click en el titulo para editar tus reseñas</h1>


<div class='flex gap-8 mt-5 w-[80%] mx-auto  flex-wrap justify-start'>
  <%= render @user.posts %>
</div>

  